black
certifi
charset-normalizer
click
flake8
idna
librt
mccabe
mypy
mypy_extensions
packaging
pathspec
platformdirs
pycodestyle
pyflakes
pytokens
requests
typing_extensions
urllib3
pytest
fastapi
numpy
